@import "../../styles/styles.scss";
.favorites {
  display: flex;
  flex-direction: column;
  h1 {
    margin: 30px 0 50px 17px;
  }
  .noFavorites {
    padding: 100px;
  }
  @media screen and (max-width: $tablet-breakpoint) {
    .content {
      padding: 0 20px;
    }
    h1 {
      margin: 9px 0 30px 37px;
      font-size: $font-size-l;
    }
  }
  @media screen and (max-width: $bigMobile-breakpoint) {
    h1 {
      margin: 30px 0 50px 17px;
      text-align: center;
    }
  }
  @media screen and (max-width: $smallMobile-breakpoint) {
    div.media {
      height: 149px;
      margin-right: 10px;
    }
    .content {
      padding: 0 10px;
    }
  }
}
