@import "../../styles/styles.scss";

.search {
  .select-box--items {
    overflow: auto;
    padding: 35px 50px 10px 20px;
    background-color: $bg-color;
    margin-top: -26px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid $forecast-container;
    border-top: none;
    display: none;
  }
  .selectboxitems :hover {
    background-color: $bg-color;
  }

  input[type="text"] {
    width: 94%;
    padding: 20px;
    background: $bg-color;
    border: 1px solid $forecast-container;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 15px;
  }
  ::placeholder {
    font-size: $font-size-m;
  }
}

.errorMsg {
  font-size: $font-size-m;
  margin: 50px;
  color: $error-color;
}
@media screen and (max-width: $tablet-breakpoint) {
  .search input[type="text"] {
    width: 82%;
  }
}
@media screen and (max-width: $bigMobile-breakpoint) {
  .search input[type="text"] {
    width: 92%;
  }
}
